mat-card{
    flex-direction: column;
    min-height: 400px;
    max-width: 200px;
    border-style:solid;
    border-radius:6px;
}
mat-card-header{
    min-height: 150px;
    border-radius: 6px;
    background-color: rgba(74, 106, 194, 0.233);
}
mat-card-content{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}
mat-card-title{
    margin:5px
}
@media all and (max-width:475px){
    mat-card{
        min-width:100vw;
    }
    mat-card-header{
        max-width: 85vw;
    }
    mat-card-content{
        max-width: 85vw;
    }
}